body{
  margin: 5em;
}

ul{  
  padding: 0;
}

li{
  margin-right: 2em;
  margin-top: 1em;
  list-style-type: none;
}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

footer{
  border-top: thick solid black;
  padding-top: 1em;
}

footer > p{
  margin: 0;
}


h1>span{
  display: block;
  font-style: italic;
  color : grey
}

a {
  font-weight: bold;
  text-decoration: none;
}

img {
  max-height : 100%;
  width : 1em;
}
h1 {
  border-bottom: thick solid black;
}

nav ul {
  border-bottom: thin solid black;
}

body {
  background-color: lightgray;
}

aside {
  color: rgb(125, 115, 168);
}